
    <div class="container my-3 border shadow" style="background-color: plum;">

        <div class="container text-center text-white my-4 py-3">
            <h2 class="text-dark">INSERISCI LA TUA FATTURA</h2><span><i class="bi bi-pencil-square btn-lg text-dark"></i></span>
        </div>


        <div class="row px-3">

            <div class="border p-3 col">
                <h4>Importo</h4><span class="text-danger"></span>
                <hr>
                <input type="number" class="form-control" name="importo" [(ngModel)]="newFattura.importo">
            </div>

            <div class="border p-3 col">
                <h4>Numero</h4>
                <hr>
                <input type="number" class="form-control" name="numero" [(ngModel)]="newFattura.numero">
            </div>

            <div class="border p-3 col">
                <h4>Anno</h4>
                <hr>
                <input type="number" class="form-control" name="anno" [(ngModel)]="newFattura.anno">
            </div>

        </div>

        <hr>

        <div class="row px-3">

            <div class="border p-3 col">
                <h4>Data</h4>
                <hr>
                <input type="date" class="form-control" name="data" [(ngModel)]="newFattura.data">
            </div>

            <div class="border p-3 col">
                <h4>Stato fattura</h4><span class="text-danger"></span>
                <hr>
                <select class="form-select" [(ngModel)]="newFattura.stato" name="statoFattura">
                    <option selected [ngValue]="newFattura.stato">{{newFattura.stato.nome}}</option>
                    <option [ngValue]="item" *ngFor="let item of statoFattura">{{item.nome}}</option>
                </select>
            </div>

        </div>

        <div class="container text-center py-3 mt-2">
            <h3 class="text-success">{{testo}}</h3>
        </div>

        <div class="container text-center text-white py-3">
            <button type="button" class="btn btn-success mx-2" (click)="addNew()">SALVA</button>
        </div>

    </div>

